@model CarListViewModel
<div>
    <h1>@ViewData["Heading"]</h1>
    <hr />
    <h2>@ViewBag.CountText @ViewBag.Count</h2>
    <hr />
    <h2>@Model.CurrentCarType</h2>  
    <hr />
</div>



<div class="container">
    <div class="row">
        @foreach(var car in Model.Cars)
        {
            <partial name="_CarSummary" for="@car" />
        }
    </div>
</div>